<div class="login-wor">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">PokeAPI <img width="60" alt="Pokemon Logo" src="assets\imgs\pokeLogo.png"/></h2>
            <div class="card-text">
                <form>
                    <table>
                        <tr>
                            <th>Correo electrónico</th>
                            <th><input type="email" name="userEmail" [(ngModel)]="userEmail" placeholder="Tu correo..."> </th>
                        </tr>
                        <tr>
                            <th>Contraseña</th>
                            <th><input type="password" name="password" [(ngModel)]="userPassword" placeholder="Tu contraseña..."> </th>
                        </tr>
                        <tr>
                            <input type="submit" value="Iniciar sesión">
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
